{% if 3>2 %}
<div>
  <h2>Hello this my sec</h2>
</div>
{% endif %} {% schema %} { "name": "mysec", "settings": [ { "type": "color",
"name": "select color", "label":"mysec settings", "default": "red", } ] } {%
endschema %}
