{% if 3>2 %}
    <div>
        <h2>Hello this my sec</h2>
    </div>
{% endif %}
{% schema %}
{
   "name": "mysec",
  "class": "mysec",
  "settings": [
    {
       "type": "color",
      "id": "select_color",
      "label":"mysec settings"
     
    }
  ],
 "presets": [
    {
        "category": "reference",
        "name":"mysec"
    }
 ]
}
{% endschema %}